In [1]:
import sys
import os
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
os.chdir('C:/Users/Kelly/Desktop/pymentorship_data/divvy_data')
filepath = ('C:/Users/Kelly/Desktop/pymentorship_data/divvy_data')

Downloaded divvy data (2013-2018) from https://www.divvybikes.com/system-data

Combine Divvy station data into one dataframe; Currently only looking at 2016-2018 data

In [3]:
#create empty dataframe with headers
testcsv = pd.read_csv(next(os.walk(filepath))[2][0])
headers = testcsv.columns.tolist()
df = pd.DataFrame(columns=headers)

#Add data from CSV file if "Trips" is in the filename
files = next(os.walk(filepath))[2]
for filename in files:
    if 'Trips' in filename:
        print('Reading file: ' + filename)
        temp_df = pd.read_csv(filename)
        #concat function
        df = pd.concat([df, temp_df], ignore_index=True)
        print('Success with this file! Length of df: ' + str(len(df)))

Reading file: Divvy_Trips_2016_04.csv
Success with this file! Length of df: 231635
Reading file: Divvy_Trips_2016_05.csv
Success with this file! Length of df: 594954
Reading file: Divvy_Trips_2016_06.csv
Success with this file! Length of df: 1072827
Reading file: Divvy_Trips_2016_Q1.csv
Success with this file! Length of df: 1469740
Reading file: Divvy_Trips_2016_Q3.csv
Success with this file! Length of df: 2911551
Reading file: Divvy_Trips_2016_Q4.csv
Success with this file! Length of df: 3595383
Reading file: Divvy_Trips_2017_Q1.csv
Success with this file! Length of df: 4027074
Reading file: Divvy_Trips_2017_Q2.csv
Success with this file! Length of df: 5146888
Reading file: Divvy_Trips_2017_Q3.csv
Success with this file! Length of df: 6755158
Reading file: Divvy_Trips_2017_Q4.csv
Success with this file! Length of df: 7424397
Reading file: Divvy_Trips_2018_Q1.csv
Success with this file! Length of df: 7811542
Reading file: Divvy_Trips_2018_Q2.csv
Success with this file! Length of df: 8871223
Reading file: Divvy_Trips_2018_Q3.csv
Success with this file! Length of df: 10384793
Reading file: Divvy_Trips_2018_Q4.csv
Success with this file! Length of df: 11027479

In [4]:
df.head()

,bikeid,birthyear,end_time,from_station_id,from_station_name,gender,start_time,starttime,stoptime,to_station_id,to_station_name,trip_id,tripduration,usertype
0,21,1982.0,NaN,123,California Ave & Milwaukee Ave,Male,NaN,4/30/2016 23:59,5/1/2016 0:11,374,Western Ave & Walton St,9379901,733,Subscriber
1,3583,1991.0,NaN,349,Halsted St & Wrightwood Ave,Male,NaN,4/30/2016 23:58,5/1/2016 0:07,165,Clark St & Grace St,9379900,556,Subscriber
2,4557,1984.0,NaN,59,Wabash Ave & Roosevelt Rd,Male,NaN,4/30/2016 23:58,5/1/2016 0:02,273,Michigan Ave & 18th St,9379899,253,Subscriber
3,2443,1978.0,NaN,289,Wells St & Concord Ln,Male,NaN,4/30/2016 23:54,5/1/2016 0:08,199,Wabash Ave & Grand Ave,9379898,802,Subscriber
4,50,NaN,NaN,239,Western Ave & Leland Ave,NaN,NaN,4/30/2016 23:52,5/1/2016 0:11,227,Southport Ave & Waveland Ave,9379897,1146,Customer

In [5]:
len(df)

11027479

In [6]:
df.columns.tolist()

['bikeid',
 'birthyear',
 'end_time',
 'from_station_id',
 'from_station_name',
 'gender',
 'start_time',
 'starttime',
 'stoptime',
 'to_station_id',
 'to_station_name',
 'trip_id',
 'tripduration',
 'usertype']

Downloaded weather data from https://www.ncdc.noaa.gov; Put weather data into dataframe... iterrows?

In [16]:
df.starttime[9]

'4/30/2016 23:37'